:root{
    --colorSecundario:hsl(244, 50%, 50%);
    --cloroBorde: hsl(64, 70%, 31%);
    --colorPrincipal: hsl(244, 20%, 50%);
    --colorLetras:hsl(208, 50%, 100%);
    --estiloFuente: "Rubik";
}

@font-face {
    font-family: 'Rubik';

    /* Funte desde el enlace de google */
    src: url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"),
    
    url("..\Ejercicios1\Font\Rubik-VariableFont_wght.ttf"),
    
    url("..\Ejercicios1\Font\Rubik-VariableFont_wght.woff2");
    
}

body {
    font-family: var(--estiloFuente);
    background-color: hsl(0, 0%, 100%);
}

header {

    box-shadow: 5px 10px 10px #000000 ;

    border-radius: 10px;
    border: 5px outset var(--cloroBorde);

    background-color: var(--colorSecundario);
    font-size: 25px;
    text-align: left;
}

h1 {
    margin: 0;
    padding: 15px;
    text-align: center;
    font-size: 60px;
    color: var(--colorLetras);
}

nav ul {

    box-shadow: 5px 10px 5px #000000 ;

    border-radius: 10px;
    border: 5px outset var(--cloroBorde);

    text-align: center;
    list-style-type: none;
    font-size: 20px;


    padding: 5px;
    
    background-color: var(--colorPrincipal);
}

nav ul li {
    display: inline;
    padding: 60px;
}
nav ul li a{

    font-weight: bold;
    font-style: italic;
    font-family: var(--estiloFuente);

    color: var(--colorLetras);
}

section {

    border: 5px;
    border: 5px outset var(--cloroBorde);

    box-shadow: 10px 10px 5px #000000 ;
    
    
    
    border-radius: 5px;

    background-color: var(--colorPrincipal);


    padding: 5px;
    margin: 25px;
}

section h2 {

    margin: 3px;
    padding: 3px;

    font-weight: bold;
    text-align: center;
    font-size: 30px;
    color: var(--colorTitulo);
}

section p {

    margin: 10px;
    padding: 5px;

    font-size: 18px;
    font-style: italic;
    text-align: center;

    color: var(--colorLetras);
}

footer {

    font-weight: bold;
    width: 99%;
    text-align: right;
    position: absolute;
    bottom: 0;
    background-color: var(--colorPrincipal);
}